.awarded {
  	color:red; 
	font-weight:bold;
}

.bibref {
  	vertical-align:top; 
}

.bibtitle {
	font-weight:bold;
}

.header { 
	font-weight:bold;
	font-size:130%;
	padding-top:20px;
}

.rheader {
	display:none;
}