body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 48%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #EDF1FA;
}




#cy2 {
  height: 100%;
  width: 48%;
  position: absolute;
  left: 52%;
  top:0;
  background-color: #edfaf6;
}